#F1_logo{
    width:10vw;
}

.prodile_card{
    --card_height:80px;
    --card_width:200px;

    --image_margin:calc(var(--card_width)*0.1*0.5);
    display:flex;
    height:var(--card_height);
    width:var(--card_width);
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

.driver_image{
    background-size: 60px;
    width:calc(var(--card_width)*0.3);
    margin:calc(var(--card_width)*0.1*0.5);
    border-radius: 10px;
    margin-right:0;
}

.name_div{
    width:calc(var(--card_width)*0.6 + var(--image_margin));
    display:flex;
    justify-content: center;
    align-items: center;
}

.name_tag{
    text-align: center;
}